<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<header>
		<%- include('../partials/navbar'); %>
	</header>
	<main class="container">
		<h1>
			<%= title %>
		</h1>

		<p>If you see this, you're <strong>logged</strong>.</p>
	</main>
</body>

</html>