
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	max-width: none; /* override for Water.css "max-width: 800px" */
}

.container {
	max-width: 1280px;
	margin-inline: auto;
}

.navbar-top {
	width: 100%;
	min-height: 4rem;
	padding: 8px 12px;
	background-color: rgb(17, 34, 51);
	font-size: 1.5em;

	&>.container,
	.left-side,
	.right-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	& .logo {
		cursor: pointer;
	}

	& .right-side {
		display: flex;
		gap: 24px;
	}

	& a {
		color: #abc;
		&:hover {
			text-shadow: 0 0 1px beige;
		}
	}
}

main {
	padding-inline: 20px;
}